<div class="card m-4">
  <div class="card-header">
    <div class="row d-flex">
      <div class="col-6">
        <h3>Grid Basic</h3>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-outline-dark" (click)="routeHome()">ย้อนกลับ</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col bg-primary text-white">.col</div>
      <div class="col  bg-dark text-white">.col</div>
      <div class="col bg-primary text-white">.col</div>
    </div>
    <div class="row m-4">
      <div class="col-sm-3 bg-primary text-white">.col-sm-3</div>
      <div class="col-sm-3 bg-dark text-white">.col-sm-3</div>
      <div class="col-sm-3 bg-primary text-white">.col-sm-3</div>
      <div class="col-sm-3 bg-dark text-white">.col-sm-3</div>
    </div>
    <div class="row m-4">
      <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
      <div class="col-sm-8 p-3 bg-dark text-white">.col</div>
    </div>
  </div>
</div>
